@use 'sass:meta';

/// Generate CSS variables from theme map
/// @param {Map} $map - Theme map with nested structure
/// @param {String} $prefix - CSS variable prefix (default: 'clr')

@mixin generate-theme($map, $prefix: 'clr') {
	@each $key, $value in $map {
		@if $key == '_' {
			--#{$prefix}: #{$value};
		} @else if meta.type-of($value) == 'map' {
			@if $key == 'variants' {
				@each $variant-name, $variant-map in $value {
					@include generate-theme($variant-map, '#{$prefix}-#{$variant-name}');
				}
			} @else {
				@include generate-theme($value, '#{$prefix}-#{$key}');
			}
		} @else {
			--#{$prefix}-#{$key}: #{$value};
		}
	}
}
