/// Desktop-first media query mixin
/// @param $size - breakpoint key
/// @param $min-width - true -> mobile-first
///
/// Usage:
/// @include breakpoint('md') { ... }           // max-width: 768px
/// @include breakpoint('md', true) { ... }     // min-width: 768px
@mixin breakpoint($size, $min-width: false) {
	$query: map.get($breakpoints, $size);

	@if not $query {
		@error "⚠️ Breakpoint `#{$size}` not found in $breakpoints map.";
	}

	@if $min-width {
		@media (min-width: $query) {
			@content;
		}
	} @else {
		@media (max-width: $query) {
			@content;
		}
	}
}

/// Theme variables generator
/// @param {map} $theme-map - A nested map describing theme values.
/// @param {string|null} $prefix - Optional prefix applied to all nested variable names.
@mixin generate-theme($theme-map, $prefix: null) {
	@if meta.type-of($theme-map) != 'map' {
		@error "generate-theme: Expected $theme-map to be a map, got `#{type-of($theme-map)}`.";
	}

	@each $key, $value in $theme-map {
		$name: if($prefix != null, '#{$prefix}-#{$key}', $key);

		@if meta.type-of($value) == 'map' {
			@include generate-theme($value, $name);
		} @else {
			--#{$name}: #{$value};
		}
	}
}

/// Tokens generator
/// @param {map} $groups - A configuration map where each entry is:
///   {
///     map: <map>,
///     prefix: <string>,
///     transform: <any>  // "rem" supported
///   }
@mixin generate-tokens($groups) {
	@if meta.type-of($groups) != 'map' {
		@error "generate-tokens: Expected $groups to be a map, got `#{type-of($groups)}`.";
	}

	@each $group-name, $config in $groups {
		$map: map.get($config, map);
		$prefix: map.get($config, prefix);
		$transform: map.get($config, transform);

		@if not $map {
			@error "generate-tokens: Group `#{$group-name}` is missing map key.";
		}

		@if not $prefix {
			@error "generate-tokens: Group `#{$group-name}` is missing prefix.";
		}

		@each $key, $value in $map {
			$css-var: --#{$prefix}#{$key};

			@if $transform == rem {
				#{$css-var}: #{px-to-rem($value)};
			} @else {
				#{$css-var}: #{$value};
			}
		}
	}
}

/// Theme validation
/// @param $theme-map - theme map
/// @param $required-keys - required keys list
@mixin validate-theme($theme-map, $required-keys) {
	@if meta.type-of($theme-map) !=
		'map' or
		meta.type-of($required-keys) !=
		'list'
	{
		@error "validate-theme: Invalid arguments, expected (map, list).";
	}

	@each $key in $required-keys {
		@if not map.has-key($theme-map, $key) {
			@error "⚠️ Theme map is missing key `#{$key}`!";
		}
	}

	@each $key, $value in $theme-map {
		@if not list.index($required-keys, $key) {
			@warn "⚠️ Theme map contains extra key `#{$key}`!";
		}
	}
}
