@use 'light' as *;
@use 'dark' as *;
@use 'schema' as *;
@use '../core/mixins/generate-theme' as *;
@use '../core/mixins/validate-theme' as *;

// Theme application
// Validates and generates theme CSS variables

@include validate-theme($light, $theme-required-keys, $theme-leaf-keys);
@include validate-theme($dark, $theme-required-keys, $theme-leaf-keys);

:root {
	@include generate-theme($light);
}

[data-theme='dark'] {
	@include generate-theme($dark);
}