@use 'sass:map';
@use '../tokens/colors' as *;
@use '../core/mixins' as *;
@use './theme-schema' as *;

/// Theme map for dark mode
///
/// Defines color values for different UI elements following the structure
/// specified in `$theme-required-keys`.
///
/// - Can include colors for headers, footers, buttons, text, etc.
/// - Used with `validate-theme()` to ensure all required keys are present.
/// - Allows generating CSS variables for theming (light, dark, or custom themes).
///
/// Notes:
/// - Theme maps can be extended or modified for different projects.
/// - Helps maintain consistent styling across all components.

$dark: (
	header: (
		bg: (
			_: map.get($colors, neutral)
		),
		text: (
			_: map.get($colors, primary)
		)
	),
	main: (
		bg: (
			_: map.get($colors, secondary),
			hover: map.get($colors, neutral)
		),
		text: (
			_: map.get($colors, primary)
		)
	),
	footer: (
		bg: (
			_: map.get($colors, neutral)
		),
		text: (
			_: map.get($colors, primary)
		)
	)
);

@include validate-theme($dark, $theme-required-keys, $theme-allowed-states);

[data-theme='dark'] {
	@include generate-theme($dark, 'clr');
}
