@use '../tokens/colors' as *;
@use '../core/functions' as *;

/// Theme map for dark mode
///
/// Defines color values for different UI elements following the structure
/// specified in `$theme-required-keys`.
///
/// - Can include colors for headers, footers, buttons, text, etc.
/// - Used with `validate-theme()` to ensure all required keys are present.
/// - Allows generating CSS variables for theming (light, dark, or custom themes).
///
/// Notes:
/// - Theme maps can be extended or modified for different projects.
/// - Helps maintain consistent styling across all components.

$dark: (
	header: (
		bg: (
			_: clr(neutral)
		),
		text: (
			_: clr(primary)
		)
	),
	main: (
		bg: (
			_: clr(secondary),
			hover: clr(neutral)
		),
		text: (
			_: clr(primary)
		)
	),
	footer: (
		bg: (
			_: clr(neutral)
		),
		text: (
			_: clr(primary)
		)
	)
);
