@use './light' as *;
@use './dark' as *;
@use '../core/mixins' as *;

$themes: (
	light: $light,
	dark: $dark
);

// Default theme on :root
:root {
	@include generate-theme(map.get($themes, light));
}

// Other themes
@each $name, $theme in $themes {
	@if $name != light {
		[data-theme='#{$name}'] {
			@include generate-theme($theme);
		}
	}
}
