/// Light Theme
/// Color mappings for light mode using design tokens
///
/// Structure:
/// - Must match $theme-required-keys schema
/// - Uses '_' for base values
/// - Can include variants (check leaf keys in schema)
/// - References color tokens with var(--clr-*)

$light: (
	selection: (
		bg: (
			_: var(--clr-primary-900)
		),
		text: (
			_: var(--clr-primary-600)
		)
	),
	scrollbar: (
		thumb: (
			_: yellow,
			hover: purple
		),
		track: (
			_: green
		)
	),
	header: (
		bg: (
			_: var(--clr-secondary-700)
		),
		text: (
			_: var(--clr-primary-600)
		)
	),
	main: (
		bg: (
			_: var(--clr-neutral-500),
			hover: var(--clr-secondary-400)
		),
		text: (
			_: var(--clr-primary-300)
		)
	),
	footer: (
		bg: (
			_: var(--clr-secondary-200)
		),
		text: (
			_: var(--clr-primary-100)
		)
	)
);
