:root {
	--clr-text: ;
	--clr-text-accent: ;
	--clr-text-active: ;
	--clr-text-hover: ;

	--clr-selection-bg: ;
	--clr-selection-text: ;

	--clr-focus: ;

	--clr-scrollbar-thumb: ;
	--clr-scrollbar-thumb-hover: ;
	--clr-scrollbar-track: ;
	--clr-scrollbar-track-hover: ;
}
