:root {
	--clr-text: ;
	--clr-text-accent: ;
	--clr-text-active: ;
	--clr-text-hover: ;

	--clr-bg: ;
	--clr-bg-hover: ;
	--clr-bg-active: ;

	--clr-selection-bg: ;
	--clr-selection-text: ;

	--clr-scrollbar-thumb: ;
	--clr-scrollbar-thumb-hover: ;
	--clr-scrollbar-track: ;
	--clr-scrollbar-track-hover: ;

	--clr-header-bg: ;
	--clr-header-text: ;

	--clr-main-bg: ;
	--clr-main-text: ;

	--clr-footer-bg: ;
	--clr-footer-text: ;
}
