// Theme schema
// Required theme structure
$theme-schema: (
	text: (
		_: (),
		accent: ()
	),
	selection: (
		bg: (),
		text: ()
	),
	scrollbar: (
		track: (),
		thumb: ()
	),
	header: (
		bg: (),
		text: ()
	),
	main: (
		bg: (),
		text: ()
	),
	footer: (
		bg: (),
		text: ()
	)
);
