/// Theme Schema
///
/// Defines the required structure for theme maps in the project.
///
/// $theme-required-keys:
/// - Specifies which keys and nested keys must exist in a theme
/// - Used to validate themes before generating CSS variables
/// - Ensures consistency and completeness across different themes
///
/// $theme-allowed-states:
/// - Lists all valid "state" keys that can exist at the lowest level of a theme map
/// - Examples of states: '_', 'hover', 'active', 'focus', 'disabled', 'muted', etc.
/// - The default state is a '_'. It corresponds to the element's normal appearance without any special states such as hover, active, or disabled.
/// - Used during theme validation to allow these keys without triggering warnings
/// - Ensures that developers cannot accidentally add arbitrary keys at the state level

$theme-allowed-states: (
	'_',
	'hover',
	'active',
	'focus',
	'disabled',
	'muted',
	'selected',
	'hidden',
	'error',
	'success',
	'warning'
);

$theme-required-keys: (
	header: (
		bg: (),
		text: ()
	),
	main: (
		bg: (),
		text: ()
	),
	footer: (
		bg: (),
		text: ()
	)
);
