// Global styles and browser defaults

:root {
	// Default text colors (overridden by themes if present)
	--clr-text: var(--clr-neutral-900);
	--clr-text-accent: var(--clr-primary-500);
	accent-color: var(--clr-text-accent);
}

html {
	height: 100%;
	font-size: var(--fs-default);
	scroll-behavior: smooth;
}

body {
	min-height: 100%;
	font-family: var(--ff-primary), var(--ff-system);
	font-weight: var(--fw-regular);
	color: var(--clr-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--fw-bold);
	font-family: var(--ff-accent), var(--ff-primary), var(--ff-system);
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

h4 {
	font-size: var(--fs-h4);
}

h5 {
	font-size: var(--fs-h5);
}

h6 {
	font-size: var(--fs-h6);
}
