/// Scrollbar Styles
/// Custom scrollbar for webkit and Firefox

html {
	/// Firefox scrollbar (thin style)
	@supports (scrollbar-width: thin) and (not selector(::-webkit-scrollbar)) {
		scrollbar-width: thin;
		scrollbar-color: var(--clr-scrollbar-thumb) var(--clr-scrollbar-track);
	}

	/// Webkit scrollbar (Chrome, Safari, Edge)
	&::-webkit-scrollbar {
		width: 0.5rem;

		&-thumb {
			background-color: var(--clr-scrollbar-thumb);

			&:hover {
				background-color: var(--clr-scrollbar-thumb-hover);
			}
		}

		&-track {
			background-color: var(--clr-scrollbar-track);
		}
	}
}
