/* Breakpoint Tokens
 *
 * Defines screen width breakpoints for responsive design:
 * - Keys: xs, sm, md, lg, xl, 2xl
 * - Values: min-width in pixels
 * - Used for media queries and layout adjustments
 */

$breakpoints: (
	'xs': 360px,
	'sm': 576px,
	'md': 768px,
	'lg': 1024px,
	'xl': 1280px,
	'2xl': 1536px
);
