// Spacing tokens based on 8px grid
// Change $base-spacing to scale entire system

$base-spacing: 8px;

$spacing: (
	0: 0,
	1: $base-spacing * 1,
	2: $base-spacing * 2,
	3: $base-spacing * 3,
	4: $base-spacing * 4,
	5: $base-spacing * 5,
	6: $base-spacing * 6,
	7: $base-spacing * 7,
	8: $base-spacing * 8
);