// Typography tokens
// Change $base-font-size to scale entire system

$font-families: (
	primary: 'JetBrains, sans-serif',
	accent: 'Tektur, sans-serif'
);

$font-weights: (
	light: 300,
	regular: 400,
	medium: 500,
	bold: 700,
	extra-bold: 900
);

$base-font-size: 16px;

$font-sizes: (
	default: $base-font-size,
	h1: $base-font-size * 1.875,
	h2: $base-font-size * 1.5,
	h3: $base-font-size * 1.25,
	h4: $base-font-size * 1.125,
	h5: $base-font-size * 1,
	h6: $base-font-size * 0.875
);